@charset "UTF-8";

@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

body{
    font-family: Noto Sans KR,sans-serif;
}

div {
    display: block;
}

a {
    text-decoration: none;
    color: #464646;
}


/* 헤더(로고, 메뉴) */
.Header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(155, 155, 155, 0.5);
    box-shadow: 0.5rem 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.Header-logo {
    width: 90px;
    height: 60px;
    margin-top: 10px;
    margin-left: 100px;

}


/* 메뉴들 */
.navigation {
    display: flex;
    list-style-type: none;
    font-size: 1.3rem;
    margin-top: 25px;
    margin-right: 150px;
    float: right;
}

.navigation li {
    line-height: normal;
    font-family: Noto Sans KR, sans-serif;
    font-size: 1.3rem;
    margin-left: 90px;
    cursor: pointer;
}

.navigation a {
    text-decoration: none;
    color: rgb(26, 25, 67);
}

.navigation a:hover {
    color: rgb(131, 33, 146);
}



/* 첫 메인 페이지 */

.Main {
    background-image: url("../image//header-aboutme/main-image.png");
    min-width: 100vh;
    width: 100%;
    height: 610px;
    position: relative;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

}

.Main-content {
    box-sizing: border-box;
    padding: 11rem 0 4rem;
    text-align: center;
}

.Main-title {
    color: rgb(38, 37, 74);
    font-family: Black Han Sans, sans-serif;
    font-size: 4rem;
}

.title-divider {
    width: 3.25rem;
    height: 0;
    margin: 1.5rem auto;
    border: none;
    border-top: 0.3rem solid #f4623a;
    opacity: 1;
}

.title-description {
    margin: 0 auto;
    font-size: 2rem;
    color: rgb(69, 68, 94);
    line-height: 1.5;
    text-align: center;
}


/* 각 섹션 제목들 */
.section-title {
    display: table;
    position: relative;
    margin: 0 auto 3rem;
    color: #000;
    border-bottom-color: #ccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
}



/* about me */
.Aboutme {
    display: flex;
    width: 100%;
    height: 470px;
    flex-shrink: 0;
}

/* 정보란 */
.Aboutme-content {
    box-sizing: border-box;
    padding-top: 4rem;
}

/* 소개 관련 */
.Aboutme-icon {
    display: inline-block;
    vertical-align: top;
}

.Aboutme-icon img {
    width: auto;
    height: 55px;
    margin-top: 0.5rem;
    margin-right: 1.5rem;
    color: #464646;
}

.Aboutme-label {
    display: inline-block;
    font-weight: 700;
    font-size: 2rem;
    color: #464646;
    line-height: 1.5;

}

.value {
    font-size: 1.5rem;
    color: #464646;
}

/* 정보들 */
.Aboutme-info {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    padding: 0 300px;
}

.Aboutme-info-name {
    box-sizing: border-box;
    float: left;
    width: 33.3333%;
    padding-left: 50px;
}

.Aboutme-info-birth {
    box-sizing: border-box;
    float: left;
    width: 33.3333%;
    padding-left: 50px;
}

.Aboutme-info-adress {
    box-sizing: border-box;
    float: left;
    width: 33.3333%;
    padding-left: 60px;
}

.Aboutme-info-call {
    box-sizing: border-box;
    float: left;
    width: 33.3333%;
    padding-top: 50px;
    padding-left: 60px;
}

.Aboutme-info-mail {
    box-sizing: border-box;
    float: left;
    width: 33.3333%;
    padding-top: 50px;
    padding-left: 50px;
}

.Aboutme-info-graduate {
    box-sizing: border-box;
    float: left;
    width: 33.3333%;
    padding-top: 50px;
    padding-left: 50px;
}



/* skills */
.Skills {
    display: flex;
    background-color: black;
    width: 100%;
    height: 100%;
}

.Skills-content {
    box-sizing: border-box;
    padding-top: 4rem;

}

.Skills-tech-container {
    display: flex;
    flex-direction: row;
    padding: 0 150px;
    align-content: space-around;
    justify-content: center;
    align-items: flex-start;
}

.Skills-title {
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    font-weight: 700;
    font-size: 2rem;
    color: #f4623a;
}

.back {
    box-sizing: border-box;
    width: 28%;
    height: 100%;
    margin-right: 130px;
    margin-top: 100PX;
    padding: 20px;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 2rem 2rem 2rem 0 rgba(197, 197, 197, 0.2);
}

.front {
    width: 30%;
    height: 100%;
    margin-right: 130px;
    margin-top: 100PX;
    padding: 20px;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 2rem 2rem 2rem 0 rgba(197, 197, 197, 0.2);
}

.deployment {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.deployment-deployment {
    padding: 20px;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 2rem 2rem 2rem 0 rgba(197, 197, 197, 0.2);
}

.version-control {
    margin-top: 100PX;
    padding: 20px;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 2rem 2rem 2rem 0 rgba(197, 197, 197, 0.2);
}

.communication {
    margin-top: 100PX;
    padding: 20px;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 2rem 2rem 2rem 0 rgba(197, 197, 197, 0.2);
}

.Skills-img-back {
    padding: 30px;
    display: block;
    width: 100%;
}

.Skills-img-front {
    padding-top: 30px;
    display: block;
    width: 100%;
}

.Skills-img-deployment {
    padding-top: 30px;
    display: block;
    width: 300px;
}

.Skills-img-version-control {
    padding-top: 30px;
    display: block;
    width: 300px;
}

.Skills-img-communication {
    padding-top: 30px;
    display: block;
    width: 300px;
}

/* project */
.Project {
    display: flex;
    background-color: #E0D03B;
    width: 100%;
    height: 1100px;
    justify-content: center;
    flex-shrink: 0;
}

.Project-content {
    padding-top: 4rem;
}

.Project-container {
    display: flex;
}

.app {
    background-color: #141028ee;
    border-radius: 2rem;
    margin: 30px 100px 30px 30px;
    box-shadow: 2rem 2rem 2rem 0 rgba(31, 31, 31, 0.2);
}

.app-img{
    display: block;
    padding: 30px;
    width: 470px;
    height: 700px;
}

.app-explain {
    box-sizing: border-box;
    border-radius: 2rem;
    margin: 30px 30px 30px 100px;
    background-color: rgba(223, 222, 222, 0.903);
    box-shadow: 2rem 2rem 2rem 0 rgba(31, 31, 31, 0.2);
}

.app-explain-text {
    display: block;
    padding: 30px;
    font-family: Noto Sans KR,sans-serif;
    font-size: 25px;
    color:  #10092c;
    width: 700px;
    
}

/* footer */
.Footer {
    width: 100%;
    background-color: #222;
    color: white;
    justify-content: center;
    text-align: center;
}

.Footer-icon{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
    
}

.Footer-icon-insta img{
    width: 60px;
    height: 60px;
    margin-right: 25px;
}

.Footer-icon-tistory img{
    width: 60px;
    height: 60px;
    margin-right: 25px;
}


.Footer-icon-notion img{
    width: 60px;
    height: 60px;
    margin-right: 25px;
}


.Footer-icon-github img{
    border-radius: 3rem;
    background-color: #fff;
    width: 60px;
    height: 60px;
    padding: 2px;
    margin-right: 25px;
}

.Footer-copyright{
    color: #f5f5f5;
    font-weight: 400;
    font-size: 10;
    font-family: Noto Sans KR,sans-serif;
    padding-bottom: 50px;
}


/* 위로가기 로고 */
.up-logo {
    position: fixed;
    right: 50px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border-radius: 0.5rem;
    background-color: #fff;
    cursor: pointer;
    opacity: .5;
    vertical-align: middle;
    box-shadow: 0.5rem 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.not1 {
    width: 100%;
    height: 80px;
}

.not2 {
    background-color: white;
    width: 100%;
    height: 80px;
}

.not3 {
    background-color: black;
    width: 100%;
    ;
    height: 80px;
}
